:root {
  --main-font-color: #2a2a2a;
  --muted-color: #d5d8dd;
  --primary-color: #3f67e9;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.mobile-nav {
  display: none;
}

nav {
  width: 100%;
}

nav ul {
  width: 100%;
  padding: 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  padding: 10px 1rem;
  color: var(--main-font-color);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 4;
}

nav ul li a {
  text-decoration: none;
  color: #2a2a2a;
  letter-spacing: 1;
  vertical-align: sub;
}

.first-section {
  height: 70vh;
  border: 2px solid var(--muted-color);
  border-left: none;
  border-right: none;
  padding: 3rem 5px 10px 5px;
  margin-bottom: 2rem;
}

div.top-bar {
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1;
}

div.top-bar-inner {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
}

.top-bar-inner__second {
  padding: 0 2px 0 1rem;
}

.top-bar-inner__second span img {
  height: 16px;
  object-fit: cover;
  padding: 8px 1px;
  background: rgb(229, 229, 229, 0.5);
  vertical-align: middle;
}

.top-bar-inner__first {
  padding: 0 3px;
}

.top-bar-inner__second span:nth-child(3) {
  position: relative;
  margin-left: 8rem;
}

.top-bar-inner__second span:nth-child(3)::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: var(--muted-color);
  border-radius: 50%;
  top: 5px;
  left: -36px;
}

.top-bar-inner + span {
  color: rgb(90 89 89 / 0.6);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0;
}

.second-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-top: 48px;
  width: 100%;
}

/* .second-bar .form,
.second-bar .credit-card {

} */

.form {
  padding: 15px 0 15px 3px;
}

.form-group {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.input-group {
  display: flex;
  flex-flow: column wrap;
  padding: 6px 2px 10px 30px;
  width: 100%;
}

.input-group label {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

input[type="text"] {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #eff0f2;
  outline: none;
  border: none;
  border-radius: 2px;
  border: 1px solid #eff0f2;
  box-shadow: 0 0 2px 1px rgba(42 42 42 / 0.3);
}

::placeholder {
  color: var(--main-font-color);
}

.credit-card .card-img__holder {
  display: block;
  padding-top: 17px;
  /* width: 50%; */
}

.credit-card span img {
  object-fit: contain;
  /* width: 80%; */
}

.footer .input-group {
  flex-flow: row wrap;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

form button {
  width: 96%;
  text-align: center;
  margin: 0 0px 0 30px;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}

.second-section {
  border-bottom: 1px solid var(--muted-color);
  padding-bottom: 25px;
  margin-bottom: 2.5rem;
}

.first-p,
.second-p,
.third-p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.third-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.third-section button {
  width: 28%;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 1.1;
  font-size: 1.2rem;
  height: 63px;
}

.second-section span,
.third-section p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.muted {
  color: var(--muted-color);
}

.third-section p {
  font-size: 1.8rem;
  letter-spacing: -2px;
}

@media only screen and (max-width: 1150px) {
  .first-section {
    height: 75vh;
  }

  main {
    width: 90vw;
  }
}

@media only screen and (max-width: 850px) {
  main {
    width: 100vw;
  }
  .first-section {
    height: 75vh;
  }

  main {
    width: 50vw;
  }
}

@media only screen and (max-width: 450px) {
  div.harmbuger {
    position: absolute;
    display: block;
    top: 20px;
    left: 83%;
  }
  div.harmbuger div {
    width: 26px;
    height: 2px;
    margin: 3px;
    background: var(--primary-color);
  }
  .mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 92%;
    z-index: 10;
    transform: translateX(-300px);
    height: 100%;
    background-color: var(--primary-color);
    transition: all 0.6s ease-in-out;
  }

  .close {
    text-align: right;
    color: white;
    align-self: flex-end;
    padding: 5px 20px;
    display: block;
    width: 50px;
    cursor: pointer;
    height: 50px;
    font-size: 2.2em;
    transform: rotate(45deg);
  }

  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
  }

  .links li {
    line-height: 2;
    padding: 5px;
    width: 70%;
  }

  .links li:hover {
    cursor: pointer;
    color: var(--primary-color);
    background: white;
  }

  .links li:hover a {
    color: var(--primary-color);
  }

  .mobile-nav.show {
    display: flex;
    transform: translateX(0px);
    transition: transform 0.6s ease-in-out;
  }

  .links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }

  div.top-bar-inner {
    flex-flow: row wrap;
  }

  .top-bar-inner__first {
    padding: 0 10px;
  }

  .top-bar-inner__second {
    padding: 0 17px 0 0.6rem;
  }

  .top-bar-inner__second span:nth-child(3) {
    margin-left: 5rem;
  }

  .top-bar-inner + span {
    padding: 0 10px;
  }

  nav {
    display: none;
  }
  .container-house {
    width: 100vw;
  }
  .first-section {
    height: 100vh;
    width: 100vw;
    margin-bottom: 15rem;
    border-bottom: none;
  }

  .second-bar {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 250px 550px;
    grid-gap: 5px;
    margin-top: 48px;
    /* margin-bottom: 5rem; */
    width: 100%;
  }

  .credit-card {
    width: 100%;
    height: 100%;
  }

  .credit-card .card-img__holder {
    width: 100%;
    height: 100%;
  }

  .credit-card span img {
    object-fit: cover;
    width: 100%;
    height: 90%;
  }

  form {
    width: 90vw;
    height: 100%;
    /* margin-bottom: 10rem; */
  }

  .form-group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  .input-group {
    display: flex;
    flex-flow: row wrap;
    padding: 5px 0 0px 3px !important;
    width: 95%;
    font-size: 1rem;
  }

  .input-group label {
    padding: 10px 0 12px 3px;
    margin-bottom: 0 !important;
  }

  .foreign {
    padding-left: 34px !important;
    padding-top: 4px !important;
    font-size: 1rem !important;
  }

  .input-group input {
    width: 100%;
  }

  .second-section {
    border-top: 2px solid var(--muted-color);
    width: 90vw;
    padding: 20px;
    margin-top: 17rem;
  }

  .third-section {
    flex-direction: column;
    padding-left: 15px;
  }

  .third-section button {
    width: 70%;
  }

  form button {
    width: 70%;
    text-align: center;
    margin: 15px 10px !important;
  }
}
